:root {
  --primart-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --background-color: #ffffff;
  --header-background-color: #e7e9fc;
  --white-text: #ffffff;
  --blue-color: #4d5ae5;
  --hover-focus-color: #404bbf;
  --cloud-color: #f4f4fd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primart-text-color);
  background-color: var(--background-color);
}

.container {
  width: 1158px 100vh;
  margin: 0 auto;
}

.global-header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--header-background-color);
}

.logo-container {
  padding-left: 156px;
  margin-right: 76px;
}

.global-header a,
.global-footer a {
  text-decoration: none;
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-container,
.address-container {
  display: flex;
}

.main-navigation,
.contact-info {
  display: flex;
  gap: 40px;
}

.contact-info {
  margin-left: 332px;
  padding-right: 156px;
}

.main-navigation,
.contact-info,
.services-list,
.members-list,
.portfolio-list {
  list-style-type: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--blue-color);
  text-transform: uppercase;
}

.black-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.main-navigation a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: var(--hover-focus-color);
}

.address-container {
  font-style: normal;
}

.contact-info a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primart-text-color);
}

.contact-info a:hover,
.contact-info a:focus {
  color: var(--hover-focus-color);
}

.main-section {
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-text);
  text-align: center;
  padding-top: 260px;
  margin-bottom: 48px;
}

.main-button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-text);
  background-color: var(--blue-color);
  padding: 16px 32px 16px 32px;
  margin-bottom: 188px;
  border-radius: 4px 0px 0px 0px;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--hover-focus-color);
}

.heading-services {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.paragraph-services {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.second-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-align: center;
  text-transform: capitalize;
}

.our-team-section {
  background-color: var(--cloud-color);
}

.team-members {
  background-color: #ffffff;
}

.team-members-name,
.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.profession,
.portfolio-service {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.global-footer {
  background-color: #2e2f42;
}

.white-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--cloud-color);
}

.footer-paragraph {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
}
